h1 {
	color: #9f222a;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	margin-top: 120px;
}

main {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

form {
	background-color: #f1eff0;
	padding-top: 100px;
	padding-bottom: 10px;
}

select {
	display: inline;
	width: 365px;
}

select[name=program] {
	float: left;
	margin-left: 20px;
}

select[name=education] {
	float: right;
	margin-right: 20px;
}

select, button {
	font-family: 'Source Code Pro', monospace;
	text-transform: uppercase;
}

button {
	background-color: #9f222a;
	color: white;
	display: block;
	margin: 40px auto 20px auto;
}

button:hover {
	cursor: pointer;
}

img {
	display: inline-block;
	margin-right: 100px;
	margin-left: 85px;
	margin-top: 50px;
}